<%= form_for(@persona) do |f| %>
  <% if @persona.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@persona.errors.count, "error") %> prohibited this persona from being saved:</h2>

      <ul>
      <% @persona.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :run_persona %><br>
    <%= f.text_field :run_persona %>
  </div>
  <div class="field">
    <%= f.label :nombre_persona %><br>
    <%= f.text_field :nombre_persona %>
  </div>
  <div class="field">
    <%= f.label :apellido_persona %><br>
    <%= f.text_field :apellido_persona %>
  </div>
  <div class="field">
    <%= f.label :email_persona %><br>
    <%= f.text_field :email_persona %>
  </div>
  <div class="field">
    <%= f.label :fono_persona %><br>
    <%= f.text_field :fono_persona %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
